// Entry point for your Sass build

@import "./foundation";

body {
    display: grid;
    grid-template-areas: "header header header"
        "main main main"
        "footer footer footer";
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: $font_main_text;
    color: $color_main_text;
    background-color: $color-body-background;
    position: fixed;
}

// hide scrollbars
body * {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body *::-webkit-scrollbar {
    display: none;
}

#main-display {
    display: flex;
    grid-area: main;
    flex-flow: column;
    overflow: scroll;
    max-width: 80vw;
    height: 50vh;
    background-color: $color-main-background;
    border: solid 1px white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

.header {
    grid-area: header;
}

.input-wrapper {
    grid-area: header;
    display: flex;
    align-items: center;
}

.search-field {
    all: unset;
    width: 50vw;
    height: 20px;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black
}

.search-button {
    all: unset;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    border-top: 1px solid rgb(195, 143, 197);
    border-left: 1px solid rgb(195, 143, 197);
    width: auto;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    color: $color_main_text;
    background-color: $color_main_background;
    transition: all 1s;
}

.search-button:hover {
    transition: all 1s;
    color: white;
    background-color: rgb(165, 132, 210);
    cursor: pointer;
}

.no-result-notice {
    margin: 1rem;
    color: $color-main-text;
    font-size: 24px;
}

.beer-box {
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid white;
    box-shadow: 5px 5px 5px black;
    transition: all 1s;
    color: $color_main_text;
    background-color: $color-main-background;
}

.beer-box:hover {
    transition: all 1s;
    color: white;
    background-color: rgb(180, 140, 195);
    cursor: pointer;
}

.beer-image {
    border: 1px solid white;
    box-shadow: 5px 5px 10px black;
    max-width: 250px;
    max-height: 250px;
}

.data-header {
    color: $color-data-header;
    font-size: 24px;
}

.data-point {
    color: $color-data-point;
    font-size: 20px;
}

.food-pairing-suggestion {
    margin: 1rem 0;
    padding: 1rem 0;
    color: $color-data-point
}

.data-header.hidden,
.data-point.hidden {
    display: none;
}

.pagination-wrapper {
    grid-area: footer;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.pagination-wrapper * {
    margin: 1rem;
    transition: color 1s;
    color: $color-main-text;
    cursor: pointer;
}

.pagination-wrapper *:hover {
    transition: color 1s;
    color: white;
}

.pagination-title {
    display: flex;
    justify-self: center;
    align-self: start;
    grid-area: footer;
    font-size: 24px;
    margin: 1rem;
}

.beer-details {
    display: inline;
}

.beer-details.hidden {
    display: none;
}

.copyright {
    position: absolute;
    bottom: 1rem;
}