<div class="header">
<h1>Welcome to brewscope!</h1>
<h2> The best craft beer search tool in Sweden!<h2>
<div class="input-wrapper">
<input class="search-field" placeholder="Search for beer..."></input>
<button class="search-button">Search</button>
</div>
</div>
<div id=main-display> 
</div>