<div class="header">
<h1>Welcome to brewscope!</h1>
<h2> The best craft beer search tool in Sweden<h2>
<div class="input-wrapper">
<input class="search-field" placeholder='Enter beer search term (examples: "Ale", "IPA")...'></input>
<button class="rb-search-button">Ruby Search</button>
<button class="ts-search-button">TypeScript Search</button>
</div>
</div>
<div id=main-display> 
</div>